.agenda-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4A2C2C;
}

.agenda {
    position: relative;
    width: 60vw;
    height: 70vh;
    display: flex;
}

.agenda-cover {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 70vh;
  display: flex;
  background: #2C4A3C;
  margin:auto;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.upper-agenda-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  border-bottom: 1px solid #D4A056;
  overflow:hidden;
}

.upper-agenda-cover > span {
  font-size: 4em;
  color: black;
  margin-bottom: 10px;
  font-family: Heligthon Signature;
}

#coffee {
  color: #6F4E37;
  font-size: 10em;
}

#coffee:hover {
  color: #D4A056;
  cursor: pointer;

}

.lower-agenda-cover {
  display: grid; /* Una solución por no usar bootstrap. */
  grid-template-columns: 1fr 1fr; /* Dividimos el espacio disponible en dos columnas iguales */
  gap: 20px;
  padding: 20px;
  overflow: hidden;
}

.left-lower-agenda-cover,
.right-lower-agenda-cover {
  background: #f0f0f0; 
  padding: 1.2em;
  border-radius: 8px;
}

.left-lower-agenda-cover form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.left-lower-agenda-cover input,
.left-lower-agenda-cover button {
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.right-lower-agenda-cover select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.agenda-pages {
    display: flex;
    flex: 1;
    background: #F0E6D6;
    position: relative;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', serif;
}

.agenda-left-page {
    flex: 1;
    order: 1;
    padding: 20px;
    overflow-y: auto;
    height: auto;
}

.agenda-right-page {
    flex: 1;
    order: 2;
    padding: 20px;
    overflow-y: auto;
    height: auto;
}

.agenda-split {
    position: absolute;
    left: 50%;
    width: 5px;
    height: 100%;
    background: #1A1A1A;
    opacity: 0.5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .agenda-marker {
    position: absolute;
    left: 49.2%;
    width: 20px;
    height: 30%;
    background: #2C4A3C;
    top: -2px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, -90% 100%, 0 80%);
    transition: height 0.6s ease-in-out;
  }

  .agenda-marker:hover {
    height: 70%;
  }

  li {
    border-bottom: 1px solid #B87D6E;
  }

  .data-field #pencil {
    opacity: 0;
    transition: opacity 0.2s;
  }

  .data-field:hover #pencil {
    opacity: 1;
  }

  @font-face {
    font-family: "zenzai-itacha";
    src: url(/workspaces/ContactList-EricMuler/src/Font/Zenzai-itacha.otf);
  }